<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/pic3.png">
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="main-content">
                {{>header}}
                <p>{{helpMsg}}</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>